{%  extends "base.html" %}

{% block title %}TimeMachine{% endblock %}

{% block content %}
    <center><h3>Welcome to Time Machine.</h3></center>

    <br/>

    {% if request.user.is_authenticated %}
        <span>Welcome</span>
    {%  else %}
            Please <a href="{% url "account_register" %}">register</a>
    {%  endif %}

{%  endblock %}