{% extends "base.html" %}

{% block title %} Login | {% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="span3 offset4">

	{% if form.errors %}
		<p>
             {% for key, value in form.errors.items %}
    {% ifnotequal key '__all__' %}{{ key }}{% endifnotequal %} {{ value.as_text }}
    
             <br/>
         {%endfor%}
	{% endif %}

			<form class="accountform" method="post" action="{% url 'django.contrib.auth.views.login' %}">
				{% csrf_token %}

				<div class="span3">
					<div class="control-group">
						<input type="text" class="span3" placeholder="Email or Username" name="{{ form.username.html_name }}">
						<i class="input-icon fui-mail"></i>
					</div>
				</div>

				<div class="span3">
					<div class="control-group">
						<input type="password" class="span3" placeholder="Password" name="{{ form.password.html_name }}">
						<i class="input-icon fui-lock"></i>
					</div>
				</div>

				<div class="span3">
					<div class="control-group">
						<button type="submit" class="btn btn-block btn-large btn-primary">
							Sign in
						</button>
					</div>
				</div>
				<div class="span3">
					<a type="submit" class=" " href="/reset/password/">Forgot password </a>
					<a type="submit" class="btn  btn-large pull-right " href="/register"> Register </a>
				</div>
			</form>

		</div>
	</div>
</div>
{% endblock %}
