{% extends "base.html" %}

{% block title %}Registration | TimeMachine {% endblock %}
{% block head_title %}
Signup
{% endblock %}


{% block content %}
<div class="container">
<div class="row">
	<div class="span4 offset4">

			
    
{% for key, value in form.errors.items %}
    {% ifnotequal key '__all__' %}{{ key }}{% endifnotequal %} {{ value.as_text }}
                 <br/>
    {% endfor %}


	

		<form method="post" action="" class="accountform">
			{% csrf_token %}


			<div class="span3">
				<div class="control-group">
					<input type="text" class="span3" placeholder="Email" id="id_email" name="{{form.email.html_name}}" value="{{form.email.value|default_if_none:"" }}">
					<i class="input-icon fui-mail"></i>
				</div>
			</div>
			
			<div class="span3">
				<div class="control-group">
					<input type="password" class="span3" placeholder="Password" name="{{ form.password1.html_name }}">
					<i class="input-icon fui-lock"></i>
				</div>
			</div>

			<div class="span3">
				<div class="control-group">
					<button type="submit" class="btn btn-block btn-primary btn-large">
						Next
					</button>
				</div>
			</div>
			<div class="span3">
					
					<a type="submit" class="btn  btn-large pull-right " href="/login"> Login <span class="fui-arrow-right"></span></a>
				</div>

		</form>

	</div>

</div>
</div>
{% endblock %}