<!DOCTYPE html>
<!-- Siddharth Menon - @BuddhaSource

Thank you, come again!
- Apu | Simpsons -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Move to Tumblr in few clicks{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Loading Bootstrap -->
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

		<!-- Loading Flat UI -->
		<link href="/site_media/css/flat-ui.css" rel="stylesheet">
		<link href="/site_media/css/layout.css?m=133958912" rel="stylesheet">
		<link rel="shortcut icon" href="site_media/images/favicon.png">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->
		
		<meta property="fb:admins" content="678000067" />
		<meta property="og:site_name" content="Just Migrate" />
		<meta property="og:image" content="http://justprecious.net/site_media/images/home/kid-pic_01_square.jpg" />
		<meta property="og:type" content="product" />
		<meta property="og:url" content="http://justmigrate.com" />
		<meta name="description" content="Move to Tumblr from Blogger, Instagram, Flickr, Wordpress and more">
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1104432-22', 'justmigrate.com');
  ga('send', 'pageview');

</script>
	</head>
	<body>

		{% block top-bar %}

		{% endblock top-bar %}

		<div class="header">
			<div class="container">
				<div class="row">
					<div class="offset2 span8">
						<h1>{% block head_title %}TimeMachine{% endblock %}</h1>
					</div>
				</div>
			</div>
		</div>

		{% block content %}
		<!-- Main content goes here -->
		{% endblock content %}
		{% csrf_token %}
		<hr>
				<footer class="container">
			<div class="span5 ">
				<b>Hey,</b> help us spread the word &nbsp; <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://justmigrate.com" data-text="Move your posts to Tumblr from Posterous,Instagram,Blogger, Flickr and more" data-related="JustMigrate" data-hashtags="MoveToTumblr">Tweet</a>


			</div>

			<div class="span5 pull-right">
				 <a href="/media">About</a> | <a href="http://justmigrate.com">TimeMachine</a>
			</div>
		</footer>
		
		
		<!-- Load JS here for greater good =============================-->

		<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
		<script src="http://justmigrate.com/site_media/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="http://justmigrate.com/site_media/js/jquery.ui.touch-punch.min.js"></script>
		<script src="http://justmigrate.com/site_media/js/bootstrap-select.js"></script>
		<script src="http://justmigrate.com/site_media/js/bootstrap-switch.js"></script>
		<script src="http://justmigrate.com/site_media/js/flatui-checkbox.js"></script>
		<script src="http://justmigrate.com/site_media/js/flatui-radio.js"></script>
		<script src="http://justmigrate.com/site_media/js/jquery.tagsinput.js"></script>
		<script src="http://justmigrate.com/site_media/js/jquery.placeholder.js"></script>
		<!-- <script src="http://vjs.zencdn.net/4.1/video.js"> </script> -->
		<script src="http://justmigrate.com/site_media/js/application.js"></script>
		<script src="http://justmigrate.com/site_media/js/dhancha.js?m=1339589282"></script>
		<!--[if lt IE 8]>
		<script src="http://justmigrate.com/js/icon-font-ie7.js"></script>
		<script src="http://justmigrate.com/js/icon-font-ie7-24.js"></script>
		<![endif]-->

		<script>
		

		<script>
			! function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = p + '://platform.twitter.com/widgets.js';
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, 'script', 'twitter-wjs');
		</script>

		{% block js %}

		{% endblock js %}

	</body>
</html>