


 <html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>
      Industrial
    </title>
	<style type="text/css">
	a:hover { text-decoration: none !important; }
	.header h1 {color: #ffd801 !important; font: normal 26px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 30px;}
	.header p {color: #848484; font: normal 12px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 12px;}

	.content h2 {color:#e1e1e1 !important; font-weight: normal; margin: 0; padding: 0; line-height: 26px; font-size: 25px;font-family: Helvetica, Arial, sans-serif; }
	.content p {color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif; }
	.content a {color: #ffd801; text-decoration: none;}
	.footer p {font-size: 11px; color:#7d7a7a; margin: 0; padding: 0;font-family: Helvetica, Arial, sans-serif;}
	.footer a {color: #998311; text-decoration: none;}
	</style>
  </head>
  <body style="margin: 0; padding: 0; background: #080708 url('images/bg_email.png');" bgcolor="#080708">
  	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
		  <tr>
		  	<td align="center" style="background: url('images/bg_email.png'); padding: 35px 0">
			    <table cellpadding="0" cellspacing="0" border="0" align="center" width="650" style="font-family: Helvetica, Arial, sans-serif;" class="header">
			      <tr>
					<td align="left" style="font-size: 0" width="20">&nbsp;</td>
			        <td align="left" style="">
						<h1 style="color: #ffd801; font: normal 26px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 30px;">Your timeline of bookmarks</h1>
						<p style="color: #848484; font: normal 12px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 12px;"></p>
			        </td>
			      </tr>
				</table><!-- header-->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="650" style="font-family: Helvetica, Arial, sans-serif; background: #1e1e1e url('images/bg_table.png');" bgcolor="#1e1e1e">
			      	<tr>
				        <td align="left" colspan="5" style="height:3px; font-size: 0px; line-height: 0" height="3" valign="top"><img src="images/bg_divider_top.png" alt="divider"></td>
				     </tr>
					<tr>

			        <td width="20" style="font-size: 0px;">&nbsp;</td>
					<td width="610" valign="top" align="left" style="font-family: Helvetica, Arial, sans-serif;" class="content">
						<table cellpadding="0" cellspacing="0" border="0"  style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="610">
						<tr>
							<td style="padding: 25px 0 8px; border-bottom: 1px solid #383838; font-family: Helvetica, Arial, sans-serif; "  valign="top" align="right">
								<h3 style="color:#8b7500; font-weight: normal; margin: 0; padding: 0; line-height: 13px; font-size: 12px;"><currentmonthname> <currentday>, <currentyear></h3>
							</td>
						</tr>
						<tr>
							<td style="padding: 20px 0 0;" align="left">

<h1>TimeMachine over the years...</h1>
<br/>

{%  for bookmark in bookmarks %}

    {% if bookmark.description == None %}
        								<h2 style="color:#e1e1e1; font-weight: normal; margin: 0; padding: 0; line-height: 26px; font-size: 25px;font-family: Helvetica, Arial, sans-serif; "> <a href="{{ bookmark.url }}">{{ bookmark.description }}</a></h2>

    {% else %}
                								<h2 style="color:#e1e1e1; font-weight: normal; margin: 0; padding: 0; line-height: 26px; font-size: 25px;font-family: Helvetica, Arial, sans-serif; "> <a href="{{ bookmark.url }}">         <a href="{{ bookmark.url }}">{{ bookmark.url }}</a>
</a></h2>

    {% endif %}

<br/><br/>

{%  endfor %}



							</td>
						</tr>

						</table>
					</td>
					<td width="20" style="font-size: 0px;font-family: Helvetica, Arial, sans-serif;">&nbsp;</td>
			      </tr>
				  	<tr>
				        <td align="left" colspan="5" style="height: 4px; font-size: 0px;" height="4">
						<img src="images/bg_divider.png" alt="divider">
				      </td>
				     </tr>

				</table><!-- body -->
				<br><table cellpadding="0" cellspacing="0" border="0" align="center" width="650" style="font-family: Helvetica, Arial, sans-serif; line-height: 10px;" class="footer">
				<tr>
			        <td align="center" style="padding: 5px 0 10px; font-size: 11px; color:#7d7a7a; margin: 0; line-height: 1.2;font-family: Helvetica, Arial, sans-serif;" valign="top">
					</td>
			      </tr>
				</table><!-- footer-->
		  	</td>
		</tr>
    </table>
  </body>
</html>